# Servidor HTTP
PORT=3333
NODE_ENV=development

# Credenciais do Banco de Dados PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# Credenciais do pgAdmin 4
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=

# String de Conexão com o Banco de Dados (Apontando para o serviço 'postgres' do Docker)
DATABASE_URL=