# Servidor HTTP
PORT=3333
NODE_ENV=development

# Credenciais do Banco de Dados PostgreSQL
POSTGRES_USER=manager
POSTGRES_PASSWORD=password
POSTGRES_DB=manager_db
POSTGRES_PORT=5432

# Credenciais do pgAdmin 4
PGADMIN_EMAIL=admin@manager.com
PGADMIN_PASSWORD=adminpassword
PGADMIN_PORT=8080

# String de Conexão com o Banco de Dados (Apontando para o serviço 'postgres' do Docker)
DATABASE_URL="postgresql://manager:password@localhost:5432/manager_db?schema=public"